/* Reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global text styles */
body {
	font-family: 'Arial', sans-serif;
	color: #7f8c8d;
	line-height: 1.75;
}

p {
	margin-top: 6px;
}

h2, h3, h4, label {
	color: #45474f;
}

h1 {
	font-size: 54px;
	line-height: 1.2;
}

h2 {
	font-size: 25px;
	margin-bottom: 48px;
	text-transform: uppercase;
}

h1, h3, h4, strong {
	font-weight: 800;
}

h3 {
	font-size: 18px;
}

/* Columns, container, sections */
.col-one-third, .col-one-half  {
	width: 100%;
	float: none;
}

@media screen and (min-width: 960px) {
	.col-one-third {
		width: 33.3333%;
		float: left;
	}

	.col-one-half {
		width: 50%;
		float: left;		
	}
}

section {
	clear: both;
	padding: 90px 0;
	overflow: auto;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.center-text {
	text-align: center;
}

/* Buttons */
.button {
	display: inline-block;
	padding: 8px 20px;
	margin: 16px 0;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	/*border-radius: 5px;*/
}

.button-light {
	text-shadow: none;	
	color: #ffffff;
	border: 2px solid #ffffff;
}

.button-light:hover {
	background: #4286f4;
	border: none;
	border: 2px solid #4286f4;
}

.button-dark{
	background: #a1d76f;
	color: #ffffff;
	border: 1px solid #a1d76f;
}

.button-dark:hover {
	background: #ffffff;
	color: #a1d76f;
	border: 1px solid #a1d76f;
}

.button-warning {
	text-shadow: none;	
	color: #ffffff;
	border: 2px solid #ffffff;
}

.button-warning:hover {
	background: #ff0000;
	border: none;
	border: 2px solid #ff0000;
}

/* Page Header */
.page-top {
	height: 70px;
	background: #4286f4;
}

.page-top a {
	color: #ffffff;
	text-decoration: none;	
}

.main-menu a {
	float: left;
	display: block;
	line-height: 70px;
	padding: 0 10px;
}

.main-menu a:hover {
	background: #dddddd;
	color: #4286f4;
}

/* Banner */
.banner {
	display: block;
	color: #4286f4;
    text-shadow: 2px 5px #000000;	
	padding: 200px 0;
	background: url('images/aeroplane_min.jpg') no-repeat top fixed;
		
}

.banner h1 {
	margin-bottom: 30px;
}

/* Intro */
.intro img {
	margin-bottom: 32px;
	width: 180px;
	height: 180px;
}

.intro h3 {
	color: #a1d76f;
	margin-bottom: 10px;
}

.intro p {
	margin-bottom: 10px;
}

/* Promotions */
.promo {
	background: #a1d76f;
}

.promo h2 {
	color: #ffffff;
	margin-bottom: 10px;
}

.promo p {
	color: #eeeeee;
}

.contact input, textarea {
	margin-bottom: 16px;
	border-radius: 2px;
	border: 1px solid #dddddd;
	padding: 8px;
	width: 80%;
}

.contact .col-one-half {
	margin-top: 16px;
}

.map {
	max-width: 100%;
}

/* Footer */
.page-footer {	
	background: #000000;
	color: #ffffff;
	padding: 16px 0;
}

.page-footer p {
	padding-left: 10px;
}